.postHeader {
    margin-bottom: 15px;
}
.viewsContainer {
    margin-left: 30px;
}
.viewsContainer img {
    margin-right: 5px;
}
.postHeading {
    margin-bottom: 15px;
}
.postImageContainer {
    margin-top: 60px;
    margin-bottom: 40px;
}